@font-face {
   font-family: 'bernadette_rough';
   font-display: swap;
   src: url('file:///C:/Users/Relp/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-10-31_105057/fonts/bernadette_rough/font.ttf');
}
