@font-face {
   font-family: 'WANITA';
   font-display: swap;
   src: url('WANITA/font.ttf');
}
@font-face {
   font-family: 'bernadette_rough';
   font-display: swap;
   src: url('bernadette_rough/font.ttf');
}
